:root {
  --font-montserrat: "Montserrat", sans-serif;
}

@font-face {
  font-family: "Mont";
  src: url("/fonts/Mont/Mont-Regular.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Mont";
  src: url("/fonts/Mont/Mont-SemiBold.ttf");
  font-weight: 600;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-montserrat);
}

a {
  color: inherit;
  text-decoration: none;
}

.bg-lines {
  position: absolute;
  z-index: -1;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 2036px;
  height: 100%;

  div {
    min-width: 324px;
    height: 100%;
    border: 1px solid #efefef;
  }
}
