.header {
  padding: 14px 0;
  border-bottom: 1px solid #efefef;
  background: white;

  .headerWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
  }

  .container {
    max-width: 2036px;
    margin: 0 auto;
  }

  .logoWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    width: 324px;

    p {
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
    }
  }

  .menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    gap: 24px;

    .menuHref {
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
      width: 324px;
    }
  }
}
